/*occupare tutta la pagina in altezza*/
.grandezza {
  min-height: 100vh;
}

.inputTodo {
  outline: none; /*elimino bordi input sul focus*/
  font-weight: bold;
  color: whitesmoke;
  width: 80%;
}

.deleteButton {
  border-radius: 100%;
}

hr.linea{
  border: 2px solid whitesmoke;
  width: -webkit-fill-available;
  border-style: dashed;
}
